body {
  background-color:#212121;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100%;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 30px;
  width: 97%;
}

li {
  border: 1px solid red;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding: 20px;
  background-color: darkblue;
  font-size: x-large;
}

img {
  max-width: 50px;
  height: auto;
}