body {
  background-color:#212121;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

#root {
  width: 100%;
}

section {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 30px;
  width: 97%;
}

li {
  border: 1px solid red;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: end;

  padding: 20px;
  background-color: darkblue;
  font-size: x-large;
}